{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% comment %}@@@@ section 1 @@@@{% endcomment %}


    <div class="section-top">
        <img src="{% static  'img/background-black-clouds-696680-2.jpg' %}" alt="Background" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        New arrivals
                    </h1>

                 {% for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="{{ product_image.image.url }}" class="img-responsive">
                            </div>
                            <h4>{{ product_image.product.name }}</h4>
                            <p>
                               {{ product_image.product.description|truncatechars_html:70 }}
                            </p>
                            <div>
                                {{ product_image.product.price }} Zł
                            </div>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Add to cart
                                </button>
                            </div>
                        </div>

                    </div>
                 {% endfor %}

             </div>
        </div>
    </div>


    {% comment %}@@@@ section 2 @@@@{% endcomment %}

    <div class="section section2">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        New arrivals
                    </h1>

                 {% for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="{{ product_image.image.url }}" class="img-responsive">
                            </div>
                            <h4>{{ product_image.product.name }}</h4>
                            <p>
                               {{ product_image.product.description|truncatechars_html:70 }}
                            </p>
                            <div>
                                {{ product_image.product.price }} Zł
                            </div>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Add to cart
                                </button>
                            </div>
                        </div>

                    </div>
                 {% endfor %}

             </div>
        </div>
    </div>



    {% comment %}@@@@ section 3 @@@@{% endcomment %}


    </div>
    <div class="section section3">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        New arrivals
                    </h1>

                 {% for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="{{ product_image.image.url }}" class="img-responsive">
                            </div>
                            <h4>{{ product_image.product.name }}</h4>
                            <p>
                               {{ product_image.product.description|truncatechars_html:70 }}
                            </p>
                            <div>
                                {{ product_image.product.price }} Zł
                            </div>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Add to cart
                                </button>
                            </div>
                        </div>

                    </div>
                 {% endfor %}

             </div>
        </div>
    </div>
{% endblock content %}



