{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% comment %}@@@@ section 1 @@@@{% endcomment %}


    <div class="section-top">
        <img src="{% static  'img/background-black-clouds-696680-2.jpg' %}" alt="Background" class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        New arrivals
                    </h1>

                 {% for product_image in products_images %}
                     {% include 'landing/product_item.html' %}
                 {% endfor %}

             </div>
        </div>
    </div>

    <div class="section section-delivery">
        <div>
            <h3>
                Free Shipping!
            </h3>
        </div>
    </div>


    {% comment %}@@@@ section 2 @@@@{% endcomment %}

    <div class="section section2 phones-container">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Mobile Phones
                    </h1>

                 {% for product_image in products_images_phones %}
                     {% include 'landing/product_item.html' %}

                 {% endfor %}

             </div>
        </div>
    </div>



    {% comment %}@@@@ section 3 @@@@{% endcomment %}


    </div>
    <div class="section section3 laptops-container">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Laptops
                    </h1>

                 {% for product_image in products_images_laptops %}
                     {% include 'landing/product_item.html' %}

                 {% endfor %}

             </div>
        </div>
    </div>
{% endblock content %}



